body{
    background-color: #6f6ff3;
    font-family: Calibri, serif;
}

h2{
   text-align: center;
}

main{
    max-width: 1300px;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 50px;
    color: #00f11e;
}

.s1{
    margin-top: 50px;
    color: #524000;
}

.s2{
    margin-top: 50px;
    color: darkred;
}

.s3{
    margin-top: 50px;
    color: whitesmoke;
}

ol{
    list-style-type: none;
    font-size: 1.5em;
}

header li{
    display: inline-block;
    margin-left: 40px;
    font-weight: bolder;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.s1 img{
    width: 20%;
    border: 5px solid #033407;
}

.s2 img{
    width: 30%;
    border: 10px solid #033407;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    border-bottom: 1px solid darkred;
}

@media (max-width: 800px){
    header li{
    display: block;
    }
    .s1 .row{
        flex-direction: column;
    }
    .s1 img{
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 500px){
    ol{
        font-size: 1em;
        width: 50%;
    }
    h2{
        font-size: 1.5em;
    }
    .s2 .row{
        flex-direction: column;
    }
    .s2 img{
        width: 90%;
        margin: auto;
    }
}

form{
    width: 300px;
    margin-left: 50px;
}

label{
    display: block;
    margin: 5px;
}